.transaction-history {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  background-color: #fff;
}
.transaction-history th {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: coral;
}
.transaction-history td,
.transaction-history th {
  border: 1px solid #ddd;
  padding: 8px;
}
.transaction-history tr:hover {
  background-color: rgb(242, 163, 163);
}
